<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="OracleDbConnection"
		     providerName="Oracle.ManagedDataAccess.Client"
		     connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=fei-sql3.upceucebny.cz)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=BDAS)));User Id=st69616;Password=Enolapeels12435;" />
	</connectionStrings>
</configuration>